@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 3822px 1080px;
    background-attachment: fixed;
    background-position: center;
    background-origin: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    color: white;
}

nav ul li{
    position: fixed;
    padding: 0 12px;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 1600px;
    background-color: black;
    color: white;
}
.brand img{
    width: 44px;
    padding: 0 8px;
    z-index: 10;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container{
    min-height: 72vh;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    /* width: 70%; */
    border-radius: 12px;
    padding: 34px;
    float: left;
    width: 50%;
    /* padding: 10px; */
    height: 300px;
    justify-content: center;
}
.bottom{
    border: .5px solid;
    position: relative;
    top: 23.4rem;
    left: 9.2rem;
    height: 13rem;
    width: 25rem;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}
.icons{
    position: absolute;
    left: 133px;
    top: 150px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    position: absolute;
    left: 50px;
    top: 110px;
    width: 280px; 
    cursor: pointer;
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    position: relative;
        top: 0rem;
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    z-index: -1;
}

.songItem img{
    width: 43px;
    margin: 0 5px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}
#masterSongName {
    justify-content: center;
    position:absolute;
    left: 5.5rem;
    top: 2.5rem;
    font-size: 16pt;
    z-index: 1;
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
/*iphone se*/
@media only screen and (max-width: 375px) {
    body {
        background-color: antiquewhite;
        background-image: url(./images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 3822px 1080px;
        background-attachment: fixed;
        background-position: left;
        background-origin: border-box;
    }
    h1{
        position: relative;
        left: 6rem;
    }
    .bottom{
        border: .5px solid;
        position: relative;
        top: 24.4rem;
        left: 0.2rem;
        height: 13rem;
        width: 23rem;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
    }
    .icons{
        position: absolute;
        left: 116px;
        top: 150px;
    }
    .songItem{
        position: relative;
        left: 6rem;
        top: -3rem;
        height: 50px;
        width: 358px;
        display: flex;
        background-color: white;
        color: black;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }
  }
  @media (min-width:376px) and (max-width:510px) {
    body {
        background-color: antiquewhite;
        background-image: url(./images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 3822px 1080px;
        background-attachment: fixed;
        background-position: left;
        background-origin: border-box;
    }
    h1{
        position: relative;
        left: 6rem;
    }
    .bottom{
        border: .5px solid;
        position: relative;
        top: 24.4rem;
        left: 2.2rem;
        height: 13rem;
        width: 23rem;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
    }
    .icons{
        position: absolute;
        left: 116px;
        top: 150px;
    }
    .songItem{
        position: relative;
        left: 6rem;
        top: -3rem;
        height: 50px;
        width: 358px;
        display: flex;
        background-color: white;
        color: black;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }
  }
  @media (min-width:511px) and (max-width:900px) {
    body {
        background-color: antiquewhite;
        background-image: url(./images/bg.jpg);
        background-repeat: no-repeat;
        background-size: 3822px 1080px;
        background-attachment: fixed;
        background-position: left;
        background-origin: border-box;
    }
    h1{
        position: relative;
        left: 6rem;
    }
    .bottom{
        border: .5px solid;
        position: relative;
        top: 24.4rem;
        left: 8.2rem;
        height: 13rem;
        width: 23rem;
        color: black;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 20px;
    }
    .icons{
        position: absolute;
        left: 116px;
        top: 150px;
    }
    .songItem{
        position: relative;
        left: 6rem;
        top: -3rem;
        height: 50px;
        width: 358px;
        display: flex;
        background-color: white;
        color: black;
        justify-content: space-between;
        align-items: center;
        border-radius: 34px;
    }
  }