@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    font-family: 'Ubuntu', sans-serif;
    z-index: 1;
}

nav ul{
    z-index: 1;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    color: white;
}

nav ul li{
  z-index: 1;
    position: fixed;
    padding: 0 12px;
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    width: 1600px;
    background-color: black;
    color: white;
}
.brand img{
    width: 44px;
    padding: 0 8px;
    z-index: 10;
}

.brand {
  z-index: 1;
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

body {
    background: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-size: 3822px 1080px;
    background-attachment: fixed;
    background-position: center;
  }
  
  .player {
    height: 95vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 5rem 0 5rem;
  }
  
  .details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 25px;
  }
  
  .track-art {
    margin: 25px;
    height: 150px;
    width: 150px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
  }
  @keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
  
  .now-playing {
    font-size: 1rem;
  }
  
  .track-name {
    font-size: 2rem;
    font-weight: bold;
  }
  
  .track-artist {
    font-size: 1.5rem;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .playpause-track, .prev-track, .next-track {
    padding: 25px;
    opacity: 0.8;
  
    /* Smoothly transition the opacity */
    transition: opacity .2s;
  }
  
  .playpause-track:hover, .prev-track:hover, .next-track:hover {
    opacity: 1.0;
  }
  
  .slider_container {
    width: 75%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modify the appearance of the slider */
  .seek_slider, .volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  /* Modify the appearance of the slider thumb */
  .seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: rgb(0, 46, 250);
    cursor: pointer;
    border-radius: 50%;
  }
  
  .seek_slider:hover, .volume_slider:hover {
    opacity: 1.0;
  }
  
  .seek_slider {
    width: 60%;
  }
  
  .volume_slider {
    width: 30%;
  }
  
  .current-time, .total-duration {
    padding: 10px;
  }
  
  i.fa-volume-down, i.fa-volume-up {
    padding: 10px;
  }
  
  i.fa-play-circle, i.fa-pause-circle, i.fa-step-forward, i.fa-step-backward {
    cursor: pointer;
  }
  .bottom{
    border: .5px solid;
    position: relative;
    top: 2rem;
    left: 0rem;
    height: 10rem;
    width: 25rem;
    color: black;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 20px;
}

.songItemContainer{
    margin-top: 40px;
}

.songItem{
    position: relative;
        top: 0rem;
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    z-index: -1;
}

.songItem img{
    width: 43px;
    margin: 0 5px;
    border-radius: 34px;
}
.songInfo{
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
#leftside {
    position: relative;
    top: -11rem;
}
ol {
  list-style-type: none;
  padding: 0 ;
  font-weight: 500;
}
ol li {
  counter-increment: number;
  display: flex;
  flex-wrap: initial;
  justify-content: space-between;
  align-items: center;
  align-content: initial;
  height: 45px;
  color: var(--dark);
  position: relative;   
  background-color: white;
  color: black;
  margin: 12px 0;
  border-radius: 34px;
  z-index: -1;
  padding: .5rem .5rem .5rem .9rem;
}
ol li img{

    height: 35px;
    width: 35px;
    background-image: url("https://images.pexels.com/photos/262034/pexels-photo-262034.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 80s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}
